body {
  font-family: sans-serif;
}

.content {
  display: flex;
  gap: 32px;
}

/* .content > * {
  border: 1px solid red;
} */

.list {
  height: 800px;
  overflow: scroll;
}

.list ul li {
  cursor: pointer
}

.list ul li.active {
  background-color: yellow;
}

.details-content {
  display: flex;
}

.details-content img {
  width: 200px;
}

.details-content li {
  white-space: nowrap;
}

/* .details {
  position: fixed;
  left: 200px;
} */